body{
    margin: auto;
    padding: auto;
}
.container {
    
    width: 50%;
    height: 20%;
    margin:  auto;
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    
    
    align-items: center;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 160px;
    aspect-ratio:16/9 !important;
}
.product {
    background-color: #fff;
      
    box-shadow: 3px 3px 5px;
    border-radius: 9px;
    overflow: hidden;
    
    
   
    margin: 10px;
    text-align: center;
}

.product > a  button :hover{
    background-color: rebeccapurple;
}
.tong:hover{
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
.thongtin{
    text-align: left;
    margin: 10px;
}
button[type="button"] {
    display: block;
    width: 60%;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0099ff;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
button[type="button"]:hover {
    background-color: #0077cc;
  }
  .sub{
    padding: 15px;
    margin: auto;
  }