
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    
    border: 1px ;
    
}
img{
    max-width: 100%;
    max-height: 200px;
    margin: 10px;
    
}
.flex-item{
    background-color:#c2bcbc;
    margin: 10px;
}
.flex-item:hover{
        background-color: bisque;
        color: red;
        border-radius: 10px 10px 10px;
        box-shadow: 3px 3px 5px black;
}
p{
    text-align: center;
}
.label{
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}





